div.goog-te-gadget {
  color: transparent !important;
}

.goog-te-gadget {
   color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
   color: blue !important;
}
#google_translate_element img
        {
            display: none !important;
        }
        .goog-te-gadget {line-height: 2px !important;color: transparent;}
        .goog-logo-link {display:none !important; } 
        .goog-te-gadget {font-size:0px !important;}